.backlogContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(1, 1, 1, .5);
    backdrop-filter: blur(15px);
    animation: blurin .3s ease-out;
}

@keyframes blurin {
    from {
        backdrop-filter: blur(0px);
    }
    to {
        backdrop-filter: blur(15px);
    }
}

.backlogLinesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    animation: fadein .2s ease-in;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-6rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.closeBacklog {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    background-color: rgba(1, 1, 1, .75);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.backlogLine {
    display: flex;
    border-radius: .5rem;
    border: .25rem solid white;
    background: linear-gradient(.5turn, #0000A4, #000028);
    color: white;
    padding: 1rem;
    max-width: 48rem;
    width: 100%;
    margin: 1rem 0;
    cursor: url("/assets/images/FF7Cursor.webp") 48 5, auto;
    font-size: 2rem;
}

.backlogLineName {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: .5rem;
    margin-bottom: 1rem;
}

.backlogLineText {
    font-weight: 500;
}
.backlogLineImage {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.backlogLineImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.backlogLineContent {
    max-width: 38rem;
    width: 100%;
}