.dialogue {
  max-width: 62.5rem;
  width: 100%;
  margin-bottom: 3.125rem;
  margin-inline: 3.125rem;
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
}

.dialogueBox {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    border: .25rem solid;
    border-image: linearGradient(#909090, #484848);
    background: linear-gradient(.5turn, #0000A4, #000028);
    color: white;
    padding: 1rem 2rem;
    max-width: 62.5rem;
    width: 100%;
    min-height: 17.1875rem;
    cursor: pointer;
}

.dialogueImage {
    max-width: 37.5rem;
    width: 100%;
    object-fit: contain;
}

.dialogueImageHolder {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    position: absolute;
    bottom: 14rem;
    max-height: 60vh;
}

.dialogueBox h1 {
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
}

.dialogueText {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    min-height: 7rem;
}

.dialogueButtons {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.dialogueImage {

}