@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  font-size: 16px;
}

@media only screen and (min-width: 1921px) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 2561px) {
  html {
    font-size: 28px;
  }
}


button, input, label {
  cursor: url("/assets/images/FF7Cursor.webp") 48 5, auto;
}

button {
  font-size: 1rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
}